$color-palette:  
("white",#FFFFFF),
("black",#000000),
("sunglow", #FCCA46)
("pumpkin", #FE7F2D),
("vivid-violet", #9233FF),
("maximum-yellow", #FFC857),
("orange-soda", #F2542D),
("seafoam", #4DCCBD),
("dark-seafoam", #07393C),
("turquoise-grey", #2C666E), 
("light-sky-blue", #90DDF0),
("pale-yellow", #F6E27F),
("purple-burgundy", #45062E),
("pink-purple", #E5A4CB),
("jet", #2C2C2C),
("davys-grey", #3A3A3A),
("med-turquoise", #4ECDC4),
("cultured", #F5F3F5),
("neon-blue", #5465FF),
("violet-web", #E086D3),
("persian-pink", #F283B6);

@each $color in $color-palette {
  .is-#{nth($color,1)}-bg{
    background-color: nth($color,2);
  }
  .is-#{nth($color,1)}-text{
    color: nth($color,2);
  }
}